body {
    height: 100vh;   
}

main {
    align-items: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#playground {
    height: 400px;
}

.sm {
    width: 200px;
}

.lg {
    width: 300px;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
}